<style>
  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400&family=Montserrat:wght@300;700&display=swap');
  .papiro {
    background:url('papyrus.jpg') center/cover no-repeat;
  }
  .papiro .box {
    background:rgba(255,251,240,0.9);
    padding:3rem;
    border:2px solid #dac292;
    border-radius:12px;
    text-align:center;
  }
  .papiro .box .verse {
    font-family:'EB Garamond',serif;
    font-size:5vh;
    font-style:italic;
    color:#3e2e10;
    line-height:1.6;
  }
  .papiro .box .ref {
    font-family:'Montserrat',sans-serif;
    font-size:4vh;
    font-weight:700;
    color:#5b461e;
    margin-top:1rem;
  }
</style>
<div class="template-wrapper papiro">
  <div class="box">
    <div id="verse" class="verse">No princípio criou Deus\nos céus e a terra.</div>
    <div id="verse" class="ref">Gênesis 1:1</div>
  </div>
</div>
